<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<style>
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}    
</style>
<body>

<header>
<nav>
    <a href="/">Home</a>
    <a href="/produtos">Produtos</a>
    <a href="/cadastrar">Cadastrar</a>
</nav>
</header>



<h1>Cadastro de produtos</h1>
<form action="/cadastrar" method="post">
    Nome: <input type="text" name="nome">
    Preço: <input type="text" name="preco">
    Img: <input type="text" name="img">
    <input type="submit" value="Cadastrar">
</form>

</body>
</html>