{% extends "base.html" %}
{% block title %}Lista de Produtos{% endblock %}
{% block conteudo %}

<h1>Cadastro de produtos</h1>
<form action="/cadastrar" method="post">
    Categoria: 

        <select name="categoria">
        {% for id, nome in categorias %}
            <option value="{{id}}">{{nome.capitalize()}}</option>  
        {% endfor %}
        </select>
       
    Nome: <input type="text" name="nome">
    Preço: <input type="text" name="preco">
    Img: <input type="text" name="img">
    <input type="submit" value="Cadastrar">
</form>

{% endblock %}