<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<style>
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}    
</style>
<body>

<header>
<nav>
    <a href="/">Home</a>
    <a href="/categoria/1">Papelaria</a>
    <a href="/categoria/2">Vestuário</a>
    <a href="/categoria/3">Outros</a>
    <a href="/cadastrar">Cadastrar</a>
    <a href="/pesquisar">Pesquisar</a>
</nav>
</header>



<h1>Cadastro de produtos</h1>
<form action="/cadastrar" method="post">
    Categoria: 

        <select name="categoria">
        {% for id, nome in categorias %}
            <option value="{{id}}">{{nome.capitalize()}}</option>  
        {% endfor %}
        </select>
       
    Nome: <input type="text" name="nome">
    Preço: <input type="text" name="preco">
    Img: <input type="text" name="img">
    <input type="submit" value="Cadastrar">
</form>

</body>
</html>