<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>

<body>

<header>
<nav>
    <a href="/">Home</a>
    <a href="/produtos">Produtos</a>
    <a href="/cadastrar">Cadastrar</a>
</nav>
</header>

    <main>
        
    {% for produto in produtos %}
    <!-- Um card de produto -->
    <article>
        <aside>
        <img src="/static/img/{{ produto[0] }}">    
        </aside>
        <h3> {{ produto[2] }} </h3>
        <h4>{{produto[1]}}</h4>
        <a href="#" >Comprar</a>
    </article>
    <!-- Fim card produto -->
    {% endfor %}    

    </main>

</body>

</html>