{% extends "base.html" %}
{% block title %}Lista de Produtos{% endblock %}
{% block conteudo %}
    <h1>Lista de Produtos</h1>    
    {% for produto in produtos %}
    <!-- Um card de produto -->
    <article>
        <aside>
        <img src="/static/img/{{ produto[0] }}">    
        </aside>
        <h3> {{ produto[2] }} </h3>
        <h4>{{produto[1]}}</h4>
        <a href="#" >Comprar</a> 
        {% if session['login'] %}
            - <a href="/editar/{{ produto[3] }}">Editar</a>
            - <a href="/excluir/{{ produto[3] }}">Excluir</a>
        {% endif %}
    </article>
    <!-- Fim card produto -->
    {% endfor %}    

{% endblock %}


