<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <style>
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
    }    
    </style>

</head>
<body>

<header>
<nav>
    <a href="/">Home</a>
    <a href="/categoria/1">Papelaria</a>
    <a href="/categoria/2">Vestuário</a>
    <a href="/categoria/3">Outros</a>
    <a href="/pesquisar">Pesquisar</a>
    {% if session["login"] %}
    <a href="/cadastrar">Cadastrar</a>    
    <a href="/logout">Logout</a>    
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
</nav>
</header>

<h1>Login</h1>

<form action="/login" method="post">
    login: <input type="text" name="login">
    senha: <input type="password" name="senha">
    <input type="submit" value="Login">
</form>

</body>
</html>