<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>

<header>
<nav>
    <a href="/">Home</a>
    <a href="/categoria/1">Papelaria</a>
    <a href="/categoria/2">Vestuário</a>
    <a href="/categoria/3">Outros</a>
    <a href="/cadastrar">Cadastrar</a>
    <a href="/pesquisar">Pesquisar</a>
</nav>
</header>
<h1>Pesquisar</h1>
<form action="/pesquisar" method="post">
    Nome: <input type="text" name="nome">
    Preço: <input type="text" name="preco">

    <input type="submit" value="Pesquisar">
</form>
</body>
</html>